{% extends 'base.html' %}

{% block title %}Edit User Form{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
  <p>{{ message }}</p>
{% endfor %}

<h1>Edit a user</h1>

<form action="/users/{{user.id}}/edit" method="POST">
  <label>First Name</label>
  <input type="text" name="firstName" placeholder="Enter a first name" value="{{ request.args.get('firstName', user.first_name) }}">
  <br>

  <label>Last Name</label>
  <input type="text" name="lastName" placeholder="Enter a last name" value="{{ request.args.get('lastName', user.last_name) }}">
  <br>

  <label>Image URL</label>
  <input type="text" name="imageURL" placeholder="Provide an image of this user" value="{{ request.args.get('imageURL', user.image_url) }}">
  <br>

  <a href="/users/{{ user.id }}">Cancel</a>
  <button type="submit">Save</button>
</form>

{% endblock %}
