{% extends 'base.html' %}

{% block title %}User Detail Page{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}

<img src="{{ user.image_url }}">
<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<form>
  <button type="submit" formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit</button>
  <button type="submit" formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete</button>
</form>

<form action="/users/{{ user.id }}/posts/new">
  <button type="submit">Add Post</button>
</form>

{% endblock %}
